# Environment variables
.env

# Mock data files
mock_response.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
db_config.py

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log 
mock_flights/ 

# CSVs or temp data files
*.csv

# Model files
*.pkl

#GCP
gcp_deploy/.gcp_env/
